{{ form_start(form) }}
    {{ form_widget(form) }}
    {% for message in app.flashes('success') %}
        <div>{{ message }}</div>
    {% endfor %}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
